{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- <head>
	<script>
		window.JSData = {{ js_data | safe }};
	</script>
	<script type="text/javascript" src="{{ JS_FILE_DIR }}/static/js/test.js"></script>
{% block title %}Found outfit!!{% endblock %}
</head> -->
{% endblock %}
{% block content %}

<br><CENTER><h1>OH SO YOU LIKED THAT </h2></CENTER>

						

<div class="container">

<form method="POST" action="/makeprimary">
	<div class="row">
		{% for product in products %}
		
		<div class="span4">
			<div class='well'>
				<p><input type="checkbox" name="search_id" value="{{product.search.id}}">  MAKE PRIMARY.</p>
				<br><a href="{{product.search.url}}">
				<img src="{{ product.search.img }}">
				</a>

				<h5><a href="{{ product.search.url }}"> {{ product.search.title }}
				</a></h5>

				from <a href="http://www.{{ product.search.companyname}}">{{ product.search.companyname }}</a>
				<br>{{ product.search.price }}



			</div>
		</div>
		{% endfor %}
	</div>
	<center><br><input type="submit" value="Submit" /></center>
</form>
</div>

{% endblock %}
{% block footer %}
{{ super()}}
{% endblock %}