{% extends "layout.html" %}
{% block head %}
{{ super() }}



<style type="text/css"> 

	.all {
		margin-top:100px;
		/*text-align: center;*/
	}

	input[type=submit] {
		display:block;
		font-family: Consolas, monaco, monospace;
		border:solid 1px #000000;
		color: #ffffff;
		height: 40px;
		width: 225px;
		font-size:small;
		background-color: #0088CC;
		text-align:center;
		margin-right: auto;
		margin-left:auto;
		font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
	}

	input[type=text]
	{
		display:block;
		border:solid 1px #000000;
		color: #0088CC;
		height: 40px;
		width: 225px;
		font-size:small;
		text-align:left;
		margin-right: auto;
		margin-left:auto;
		font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;

		background-color: #F6F3F3;
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);

	}

	select
	{
		/*-webkit-appearance: none;*/
		display:block;
		border:solid 1px #000000;
		color: #0088CC;
		height: 51px;
		width: 240px;
		font-size:inherit;
		text-align:center;
		margin-right: auto;
		margin-left:auto;
		font: 400 20px/1.5 'Pacifico', 'Gill Sans', sans-serif;
		background-color: #FFFFFF
	}

	option 
	{
		color: #0088CC;
		text-indent: 5px;
		font-size:small;
		text-align:center;
		margin-right: auto;
		margin-left:auto;
		font: 400 20px/1.5 'Pacifico', 'Gill Sans', sans-serif;
		/*background-color: #FFFFFF*/
	}


	@font-face {
		font-family: "Langdon";
		font-style: normal;
		font-weight: 400;
		src: url('/static/img/Langdon.otf');
	}

	@font-face {
		font-family: 'Pacifico';
		font-style: normal;
		font-weight: 400;
		src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v4/yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
	}

	h4 {
	  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
	  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	  text-align: center;
	  margin-top: 50px;
	  margin-bottom: 10px
	}

</style>

{% endblock %}
{% block content %}

	<div class='all'>

		<h4>whatchu wanna wear</h4>

		<form id="outfitform" method="POST" action="/findoutfit">
			<input type="text" name="location" placeholder="where are you"/>

			<select name="tag_id">
					<option value="default">how you feelin</option>
					{% for tag in all_tags %}
					<option value="{{ tag.id }}">{{tag.style}}</option>
					{% endfor %}
			</select>

			<select name="activity_id">
					<option value="default">whatcha doin</option>
					{% for activity in all_activities %}
					<option value="{{ activity.id }}">{{activity.activity}}</option>
					{% endfor %}
			</select>
			
			<input type="submit" value='submit'>
		
		</form>
	</div>

	
{% endblock %}
{% block footer %}
{{ super()}}
<script>
$(document).ready(function () {

    jQuery.validator.addMethod('selectCheck', function(value) {
    	return (value !== "default");
    }, "This field is required.");

    $('#outfitform').validate({ // initialize the plugin
        rules: {
            location: {
                required: true
            },
            tag_id: {
                selectCheck: true
            },
            activity_id: {
                selectCheck: true
            }
        }
    });



});
</script>
{% endblock %}