<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
		{% block footer %}
        <!-- <br>&copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>. -->
        <script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
	</body>
<html>
