{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
<p>
	<br />top1: {{outfits["1"]["top"].keywords}}
	<br />bottoms1: {{outfits["1"]["bottoms"].keywords}}
	<br />outerwear1: {{outfits["1"]["outerwear"].keywords}}
	<br />footwear1: {{outfits["1"]["footwear"].keywords}}
</p>
<p>
	<br />top2: {{outfits["2"]["top"].keywords}}
	<br />bottoms2: {{outfits["2"]["bottoms"].keywords}}
	<br />outerwear2: {{outfits["2"]["outerwear"].keywords}}
	<br />footwear2: {{outfits["2"]["footwear"].keywords}}
</p>
<p>
	<br />top3: {{outfits["3"]["top"].keywords}}
	<br />bottoms3: {{outfits["3"]["bottoms"].keywords}}
	<br />outerwear3: {{outfits["3"]["outerwear"].keywords}}
	<br />footwear3: {{outfits["3"]["footwear"].keywords}}
</p>
{% endblock %}
{% block footer %}
{% endblock %}