{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- <head>
	<script>
		window.JSData = {{ js_data | safe }};
	</script>
	<script type="text/javascript" src="{{ JS_FILE_DIR }}/static/js/test.js"></script>
{% block title %}Found outfit!!{% endblock %}
</head> -->
{% endblock %}
{% block content %}

<br><CENTER><h1>YOU SHOULD WEAR </h2></CENTER>
<div class="container">

	{% for outfit in outfits %}
	
  <ul class="nav nav-tabs">
		<div class="row">
			
			{% for garment in outfit %}

				<div class="span3">
					<div class='well'>
						{% if garment.colored_search %}
							<a href='/garments?id={{ garment.id }}' name='garment_id' value='{{ garment.id }}'><h4>{{ garment.keywords }}</h4></a>
						</form>
							<br>
								<a href="{{ garment.colored_search.search.url }}">
								<img src="{{ garment.colored_search.search.img }}">
								</a>
							<br>
								<h5><a href="{{ garment.colored_search.search.url }}"> {{ garment.colored_search.search.title }}
								</a></h5>
							from <a href="http://www.{{ garment.colored_search.search.companyname}}">{{ garment.colored_search.search.companyname }}</a>
							<br>{{ garment.colored_search.search.price }}
						
						{% else %}
							<a href='/garments?id={{ garment.id }}' name='garment_id' value='{{ garment.id }}'><h4>{{ garment.keywords }}</h4></a>
						
						{% endif %}

					</div>
				</div>

			{% endfor %}

		</div>

	{% endfor %}

</div>

{% endblock %}
{% block footer %}
{{ super()}}
{% endblock %}