{% extends "layout.html" %}
{% block head %}
{{ super() }}
<!-- <head>
	<script>
		window.JSData = {{ js_data | safe }};
	</script>
	<script type="text/javascript" src="{{ JS_FILE_DIR }}/static/js/test.js"></script>
{% block title %}Found outfit!!{% endblock %}
</head> -->
{% endblock %}
{% block content %}

<br><CENTER><h1>YOU SHOULD WEAR </h2></CENTER>
<div class="container">

	{% for outfit in outfits %}
	
		<div class="row">
			
			{% for garment in outfit %}

				<div class="span4">
					<div class='well'>
						{% if garment.search[0] %}
							<a href='/garments?id={{ garment.id }}' name='garment_id' value='{{ garment.id }}'><h3>{{ garment.keywords }}</h3></a>
						</form>
							<br>
								<a href="{{ garment.search[0].search.url }}">
								<img src="{{ garment.search[0].search.img }}">
								</a>
							<br>
								<h4><a href="{{ garment.search[0].search.url }}"> {{ garment.search[0].search.title }}
								</a></h4>
							from <a href="http://www.{{ garment.search[0].search.companyname}}">{{ garment.search[0].search.companyname }}</a>
							<br>{{ garment.search[0].search.price }}
						
						{% else %}
							<a href='/garments'><h3>{{ garment.keywords }}</h3></a>
						
						{% endif %}

					</div>
				</div>

			{% endfor %}

		</div>

	{% endfor %}

</div>

{% endblock %}
{% block footer %}
{{ super()}}
{% endblock %}